.icon {
	width: 1.5em;
	height: 1.5em;
	fill: currentColor;
	vertical-align: text-top;
	filter: drop-shadow(0 0.1em 0.05em swatch(colorBlack, 0.9));

	&--contact {
		width: 1.25em;
		height: 1.25em;
	}
}