.panel--red {
	--panelColor: var(--colorRed);
}

.panel--blue {
	--panelColor: var(--colorBlue);
}

.panel--green {
	--panelColor: var(--colorGreen);
}

.panel--violet {
	--panelColor: var(--colorViolet);
}

.panel--purple {
	--panelColor: var(--colorPurple);
}

.panel--magenta {
	--panelColor: var(--colorMagenta);
}

.panel--gray {
	--panelColor: var(--colorGray5);
}