.panel {
	--panelColor: var(--colorSecondary);

	color: swatch(colorWhite, 0.8);
	background-color: swatch(panelColor, 0.4);
	//border: 0.5rem solid swatch(colorBlack, 0.9);
	border: 0.5rem solid #0d0d0d; // Safari Bug Fix
	display: flex;
	flex-flow: column;
	height: 100%;

	@media screen and (max-width: 960px) {
		overflow: hidden;
	}
}

.panel__header {
	background-image:
		url('../images/style/stripes.svg'),
		// standard gradient
		linear-gradient(to bottom, swatch(colorBlack, 0.05) 0%, swatch(colorBlack, 0.15) 100%),
		// half/half gradient
		linear-gradient(to bottom, swatch(colorBlack, 0.20) 0%, swatch(colorBlack, 0.30) 50%, swatch(colorBlack, 0.4) 51%, swatch(colorBlack, 0.5) 100%);
	background-size: auto 3rem, auto 100%, auto 100%;
	padding: $spacerLarge;
	margin: 0.25rem 0.25rem 0 0.25rem;
	position: relative;
	z-index: 2;

	@media screen and (max-width: 600px) {
		padding: ($spacerLarge) ($spacerLarge / 2);
	}
}

.panel__body {
	background-color: swatch(colorBlack, 0.4);
	margin: 0.25rem;
	padding: ($spacerLarge / 2) $spacerLarge ($spacerLarge * 2) $spacerLarge;
	z-index: 2;
	height: 100%;
	display: grid;
	grid-gap: $spacerLarge;
	grid-template-columns: 100%;
	align-content: start;

	@media screen and (max-width: 600px) {
		padding: ($spacerLarge / 4) ($spacerLarge / 2) ($spacerLarge) ($spacerLarge / 2);
		grid-template-columns: 100%;
	}
}

.panel__item {
	width: 100%;

	&--link {
		align-self: end;
	}
}

.panel__title__link {
	.panel__title__name {
		color: swatch(colorWhite, 0.9);
	}

	&:hover,
	&:focus {
		.panel__title__name {
			color: swatch(colorWhite, 1);
		}
	}
}

.panel__title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 1.125;

	@media screen and (max-width: 960px) {
		flex-wrap: wrap;
	}
}

.panel__title__name {
	@media screen and (max-width: 960px) {
		width: 100%;
		margin-bottom: $spacerTiny;
	}
}

.panel__title__description {
	font-family: 'bowlbyone';
	@include fluid-type($modular_min_width, $modular_max_width, $h4_min, $h4_max);
}

.panel__subtitle {
	color: swatch(panelColor, 0.9);

	@media screen and (max-width: 600px) {
		margin: $spacerTiny 0;
	}
}

.panel__media__gallery {
	display: grid;
	grid-gap: $spacerTiny;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);

	@media screen and (max-width: 600px) {
		grid-template-columns: 1fr;
	}

	&--ost {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		margin-bottom: $spacerSmall;

		@media screen and (max-width: 1280px) {
			grid-template-columns: auto;
		}
	}

	&--artwork {
		grid-template-rows: auto;
		justify-content: center;

		@media screen and (max-width: 1600px) {
			grid-template-columns: repeat(2, 0.5fr);
		}

		@media screen and (max-width: 1280px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media screen and (max-width: 600px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.panel__media__container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: $spacerLarge * 1.5;
	background-color: swatch(colorBlack, 0.45);
	border-radius: 0.5rem;

	@media screen and (max-width: 600px) {
		padding: $spacerSmall;
	}

	&--thumbnail {
		padding: $spacerSmall;

		&:first-of-type { margin-left: 0;  }
		&:last-of-type  { margin-right: 0; }
	}

	&--horizontal {
		flex-wrap: nowrap;
		padding: $spacerMedium;

		@media screen and (max-width: 960px) {
			flex-wrap: wrap;
			padding: $spacerSmall;
		}

		.panel__media__subcontainer {
			width: 50%;

			@media screen and (max-width: 1280px) {
				width: 25%;
			}

			@media screen and (max-width: 960px) {
				width: 100%;
			}
		}

		.panel__media__title {
			padding-top: 0;

			@media screen and (max-width: 960px) {
				padding-top: $spacerSmall;
			}
		}

		.panel__media__info {
			padding: 0 $spacerMedium;

			@media screen and (max-width: 960px) {
				padding: 0;
			}
		}
	}
}

.panel__media__subcontainer {
	width: 100%;
}

.panel__media__info {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.panel__media__title {
	word-break: break-word;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0;
	padding: $spacerMedium 0;
	color: swatch(colorWhite, 0.8);
	@include fluid-type($modular_min_width, $modular_max_width, $h2_min, $h2_max);
	line-height: 1.25;

	&--medium {
		padding: $spacerSmall 0;
		@include fluid-type($modular_min_width, $modular_max_width, $h3_min, $h3_max);
	}

	&--small {
		padding: $spacerTiny 0;
		@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);
	}
}

.panel__media__holder {
	position: relative;
	width: 100%;
	height: 0;
	background-color: swatch(colorBlack, 0.6);
	overflow: hidden;

	&--16x9 {
		padding-bottom: calc(56.25% + #{$spacerTiny}); // (9 / 6) * 100 = 56.25 (spacerTiny is to compensate for border)
	}

	&--pixel {
		background-color: transparent;
		overflow: visible;

		@media screen and (max-width: 1280px) {
			height: auto;
			padding-bottom: 0;
		}

		@media screen and (max-width: 960px) {
			height: 0;
			padding-bottom: 50%;
		}

		@media screen and (max-width: 600px) {
			height: auto;
			padding-bottom: 0;
		}
	}
}

.panel__media__holder__pixel {
	position: relative;
	padding-bottom: inherit;
	display: flex;
	justify-content: center;

	@media screen and (max-width: 600px) {
		display: block;
	}
}

.panel__media {
	width: calc(100% - #{$spacerSmall} + 2px);
	height: calc(100% - #{$spacerSmall} + 2px);
	position: absolute;
	left: calc(#{$spacerTiny} - 1px);
	top: calc(#{$spacerTiny} - 1px);
	border: 0;

	&--pixel {
		position: absolute;
		top: auto;
		left: auto;
		right: auto;
		bottom: 0;

		width: auto;
		height: auto;
		margin: auto;

		image-rendering: pixelated;

		@media screen and (max-width: 1280px) {
			position: static;
		}

		@media screen and (max-width: 960px) {
			position: absolute;
		}

		@media screen and (max-width: 600px) {
			position: static;
			width: 100%;
			height: auto;
		}
	}
}

.panel__media__link {
	width: 100%;
	color: swatch(panelColor, 0.7);

	&:hover,
	&:focus {
		.panel__media__title {
			color: swatch(colorWhite, 1);
		}

		.panel__media__stats {
			color: swatch(panelColor, 1);
		}

		.panel__media__strong {
			color: swatch(colorPrimary, 1);
		}
	}
}

.panel__media__stats {
	list-style-type: none;
	width: 100%;
	padding: $spacerSmall 0 0 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 0.05rem solid swatch(panelColor, 0.3);
	@include fluid-type($modular_min_width, $modular_max_width, $h4_min, $h4_max);

	@media screen and (max-width: 600px) {
		@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);
	}

	&--medium {
		padding: $spacerSmall 0 0 0;
		@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);
	}

	&--small {
		padding: $spacerTiny 0 0 0;
		@include fluid-type($modular_min_width, $modular_max_width, $h6_min, $h6_max);
	}
}

.panel__media__stat {
	display: flex;
	align-items: baseline;

	@media screen and (max-width: 600px) {
		display: block;
	}

	&:first-of-type {
		.panel__media__strong {
			padding-left: $spacerTiny;

			@media screen and (max-width: 600px) {
				padding-left: 0;
			}

			&--medium {
				padding-left: $spacerTiny / 2;

				@media screen and (max-width: 600px) {
					padding-left: 0;
				}
			}

			&--small {
				padding: 0;
			}
		}
	}

	&:last-of-type {
		text-align: right;

		.panel__media__strong {
			padding-right: $spacerTiny;

			@media screen and (max-width: 600px) {
				padding-right: 0;
			}

			&--medium {
				padding-right: $spacerTiny / 2;

				@media screen and (max-width: 600px) {
					padding-right: 0;
				}
			}

			&--small {
				padding: 0;
			}
		}
	}

	&--small {
		display: block;
	}
}

.panel__media__strong {
	font-family: 'bowlbyonesc';
	font-weight: normal;
	text-transform: initial;
	color: swatch(colorPrimary, 0.8);
	@include fluid-type($modular_min_width, $modular_max_width, $h4_min, $h4_max);

	@media screen and (max-width: 600px) {
		display: block;
		@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);
	}

	&--medium {
		@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);
	}

	&--small {
		display: block;
		padding: 0;
		@include fluid-type($modular_min_width, $modular_max_width, $h6_min, $h6_max);
	}
}

.panel__link__holder {
	display: flex;
	justify-content: center;
}

.panel__link {
	font-family: 'bowlbyonesc';
	letter-spacing: 0.025em;
	border: none;
	padding: $spacerSmall;
	text-align: center;
	border-radius: 0.25rem;
	color: swatch(colorWhite, 0.9);

	&:hover,
	&:focus {
		color: swatch(colorWhite, 1);
		background-color: swatch(panelColor, 1);
	}

	&--primary {
		background-color: swatch(panelColor, 0.7);
		width: 100%;

		@media screen and (max-width: 1280px) {
			width: auto;
		}

		@media screen and (max-width: 600px) {
			width: 100%;
		}
	}

	&--secondary {
		font-size: 0.8em;
		background-color: swatch(colorGray5, 0.2);

		@media screen and (max-width: 600px) {
			font-size: 1em;
			width: 100%;
		}
	}
}

.panel__signature {
	color: swatch(colorPrimary, 1);
	font-weight: bold;
}

.panel__link__gallery {
	list-style-type: none;
	padding: 0;
	display: flex;

	@media screen and (max-width: 600px) {
		flex-wrap: wrap;
		margin-top: 0;
	}
}

.panel__link__gallery__item {
	margin: 0 $spacerTiny;

	&:first-of-type { margin-left: 0; }
	&:last-of-type { margin-right: 0; }

	@media screen and (max-width: 600px) {
		width: 100%;
		margin: ($spacerTiny / 2) 0;
	}
}

.panel__link--gallery {
	border: 0;
	color: swatch(colorWhite, 0.9);
	background-color: swatch(panelColor, 0.2);

	&:hover,
	&:focus {
		color: swatch(colorWhite, 1);
		background-color: swatch(colorPrimary, 1);
	}

	@media screen and (max-width: 960px) {
		display: block;
		width: 100%;
	}
}

.panel__link__holder--contact {
	justify-content: flex-start;
}

.panel__link--contact {
	--panelColor: #{$colorPrimary};

	font-family: $font-stack-base;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 1;
	color: swatch(colorWhite, 1);
	background-color: swatch(panelColor, 0.9);
	border-color: transparent;
	width: auto;

	&:hover,
	&:focus {
		background-color: swatch(colorPrimary, 1);
	}

	@media screen and (max-width: 600px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		font-size: 4.5vw;
	}
}

@import 'panel-backgrounds';
@import 'panel-colors';
@import 'panel-one_minute_melee';