.panel__body {
	position: relative;
	z-index: 1;

	// Sumi Background Container
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;

		opacity: 0.25;
		background-size: 130% auto;
		background-position: top;
	}
}

.section--one_minute_melee {
	.panel__body::before {
		background-image: url('../images/style/sumi/sumi-1.png');
	}
}

.section--hyper_gauge_office {
	.panel__body::before {
		background-image: url('../images/style/sumi/sumi-2.png');
	}
}

.section--artwork {
	.panel__body::before {
		background-image: url('../images/style/sumi/sumi-3.png');
	}
}

.section--other {
	.panel__body::before {
		background-image: url('../images/style/sumi/sumi-4.png');
	}
}

.section--about {
	.panel__body::before {
		background-image: url('../images/style/sumi/sumi-5.png');
	}
}

.section--support {
	.panel__body::before {
		background-image: url('../images/style/sumi/sumi-6.png');
	}
}

.section--contact {
	.panel__body::before {
		background-image: url('../images/style/sumi/sumi-7.png');
	}
}