.panel__body--one_minute_melee {
	.panel__item--latest { grid-area: latest; }
	.panel__item--more   { grid-area: more;   }
	.panel__item--link   { grid-area: link;   }
	.panel__item--ost    { grid-area: ost;    }

	align-items: stretch;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"latest latest latest more more"
		"latest latest latest more more"
		"latest latest latest link link"
		"ost    ost    ost    ost  ost";

	@media screen and (max-width: 1280px) {
		grid-template-columns: auto;
		grid-template-areas:
			"latest"
			"more"
			"link"
			"ost";
	}

	.panel__item--latest {
		display: flex;
		flex-flow: column;

		.panel__media__container {
			height: 100%;
			align-items: flex-start;
		}
	}
}