.presenter {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	text-transform: uppercase;

	@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);

	@media screen and (max-width: 600px) {
		margin: $spacerMedium 0;
		flex-wrap: wrap;
	}

	&:hover,
	&:focus {
		.presenter__logo {
			color: swatch(colorWhite, 1);
		}
	}
}

.presenter__text {
	@media screen and (max-width: 600px) {
		width: 100%;
	}
}

.presenter__logo {
	color: swatch(colorWhite, 0.8);
	margin: $spacerSmall;
	flex-shrink: 1;

	@media screen and (max-width: 600px) {
		margin: $spacerTiny;
	}
}