.site__container {
	max-width: $sizeContainer;
	margin: auto;
	padding: 0 $spacerSmall;

	@media screen and (max-width: 1024px) {
		width: 100%;
		max-width: 100%;
	}

	@media screen and (max-width: 600px) {
		padding: 0 $spacerTiny;
	}
}