
.site__body {
	color: swatch(colorGray3, 1);
	//text-shadow: 0 0.05em 0.05em swatch(colorBlack, 0.9);
	text-shadow: 0 0.05em 0.05em #0d0d0d; // Safari Bug Fix
	background-color: swatch(colorGray8, 1);
	background-image: url('../images/style/background.jpg');
}

.site__main {
	margin: $spacerLarge auto ($spacerLarge * 4) auto;
	display: grid;
	grid-gap: $spacerSmall;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas:
		"omm     omm     omm     omm     omm     omm     omm     omm     omm     omm     omm     omm"
		"hgo     hgo     hgo     hgo     hgo     hgo     hgo     art     art     art     art     art"
		"hgo     hgo     hgo     hgo     hgo     hgo     hgo     other   other   other   other   other"
		"about   about   about   about   about   about   about   about   support support support support"
		"about   about   about   about   about   about   about   about   support support support support"
		"contact contact contact contact contact contact contact contact contact contact contact contact";

	@media screen and (max-width: 1280px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-template-areas:
			"omm omm"
			"hgo hgo"
			"art art"
			"other other"
			"about support"
			"contact contact";
	}

	@media screen and (max-width: 960px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7, auto);
		grid-template-areas:
			"omm"
			"hgo"
			"art"
			"other"
			"about"
			"support"
			"contact";
	}

	@media screen and (max-width: 600px) {
		padding: 0;
		margin: ($spacerLarge / 2) auto ($spacerLarge * 2) auto;
	}
}

.header { grid-area: header; }
.footer { grid-area: footer; }
.section--one_minute_melee   { grid-area: omm; }
.section--hyper_gauge_office { grid-area: hgo; }
.section--artwork { grid-area: art; }
.section--other { grid-area: other; }
.section--about { grid-area: about; }
.section--support { grid-area: support; }
.section--contact { grid-area: contact; }