.site__footer {
	line-height: 1.25;
	color: swatch(colorWhite, 0.8);
	background-color: swatch(colorBlack, 0.5);
	border-top: 0.5rem solid swatch(colorBlack, 0.8);
	padding: ($spacerLarge * 2) $spacerLarge;
	@include fluid-type($modular_min_width, $modular_max_width, $h6_min, $h6_max);

	@media screen and (max-width: 600px) {
		padding: $spacerLarge $spacerMedium;
	}
}

.footer__container {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: auto 1fr;
	grid-gap: $spacerSmall;
	grid-template-areas:
		"logo copyright"
		"logo signature";

	@media screen and (max-width: 960px) {
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"logo copyright"
			"logo copyright"
			"signature signature";
	}

	@media screen and (max-width: 600px) {
		grid-template-areas:
			"logo"
			"copyright"
			"signature";
	}
}

.footer__item__container {
	&--copyright {
		grid-area: copyright;
		padding-bottom: $spacerTiny;
		border-bottom: 0.05rem solid swatch(colorWhite, 0.2);

		@media screen and (max-width: 960px) {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	&--signature {
		text-align: right;
		font-family: 'bowlbyone';
		color: swatch(colorGray7, 1);
		grid-area: signature;
		@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);

		.footer__link {
			font-weight: normal;
			text-transform: uppercase;
		}
	}

	&--logo {
		grid-area: logo;

		@media screen and (max-width: 960px) {
			display: flex;
			align-items: flex-end;
		}
	}
}

.footer__item {
	margin-right: $spacerSmall;
	float: left;

	@media screen and (max-width: 960px) {
		margin-bottom: $spacerTiny;
	}

	&:last-of-type {
		margin-right: 0;

		@media screen and (max-width: 960px) {
			margin-bottom: 0;
		}
	}

	&--disclaimer {
		margin-top: $spacerTiny;
		clear: both;

		@media screen and (max-width: 960px) {
			margin-top: 0;
		}
	}

	&--signature {
		float: right;
		line-height: 1.5;

		@media screen and (max-width: 960px) {
			clear: both;
			width: 100%;
			text-align: center;
			padding-top: $spacerSmall;
			border-top: 0.05rem solid swatch(colorWhite, 0.2);
		}
	}
}

.footer__item__link--logo { --colorPrimary: #{$colorGray6}; }

.footer__paragraph {
	margin: 0 0 ($spacerTiny / 2) 0;
}

.footer__link {
	font-weight: bold;

	&--ap { --colorPrimary: #{$colorGreen}; }
}