.site__header {
	--panelColor: var(--colorSecondary);

	background-color: swatch(panelColor, 0.4);
	border-bottom: 0.5rem solid #0d0d0d;
}

.header__container {
	&--banner {
		position: relative;
		height: 0;
		padding-top: 17.24%; // (350 / 2030) * 100 = ~17.24
		//border-top: 0.5rem solid swatch(colorBlack, 1);
		border: 0.5rem solid #000; // Safari Bug Fix
		border-left: 0;
		border-right: 0;

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-image:
				url('../images/style/sumi/sumi-horizontal.png'),
				url('../images/content/banners/banner-1.jpg');
			background-size:
				100% auto,
				auto calc(100% + 1px);
			background-position:
				center calc(100% + 1px);
			background-repeat: no-repeat;
		}
	}

	&--navigation {
		background-image:
			url('../images/style/stripes.svg'),
			// standard gradient
			linear-gradient(to bottom, swatch(colorBlack, 0.05) 0%, swatch(colorBlack, 0.15) 100%),
			// half/half gradient
			linear-gradient(to bottom, swatch(colorBlack, 0.20) 0%, swatch(colorBlack, 0.30) 50%, swatch(colorBlack, 0.40) 51%, swatch(colorBlack, 0.50) 100%);
		background-size: auto 3rem, auto 100%, auto 100%;
		box-shadow: 0 0.5rem 0.5rem hsla(0, 0%, 0%, 0.2);
		margin: ($spacerTiny / 2) 0;

		@media screen and (max-width: 1340px) {
			padding-bottom: 1rem;
		}

		@media screen and (max-width: 600px) {
			padding-top: 4rem;
		}
	}
}

.header__logo__link {
	display: inline-block;
	position: absolute;
	bottom: 0;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		top: $spacerLarge * 1.5;
		left: $spacerLarge * -2.5;
		right: -$spacerLarge;
		bottom: 0;
		background-image: url('../images/style/sumi/sumi-6.png');
		background-size: 100% auto;
		background-position: top left;
		background-repeat: no-repeat;
		z-index: -1;

		@media screen and (max-width: 600px) {
			top: $spacerTiny;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: none;
		}
	}

	@media screen and (max-width: 600px) {
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
}

.header__logo {
	width: 380px;
	margin: $spacerLarge 0 ($spacerLarge * -1.5) 0;

	@media screen and (max-width: 1340px) {
		margin: $spacerLarge 0 ($spacerLarge * -1.75) 0;
	}

	@media screen and (max-width: 960px) {
		width: 35vw;
	}

	@media screen and (max-width: 600px) {
		width: auto;
		height: calc(100% + #{$spacerLarge * 2.5});
		margin: 0;
		margin-top: $spacerSmall;
		padding-top: $spacerTiny;
	}
}

.header__title__link {
	@media screen and (max-width: 1340px) {
		display: block;
		width: 100%;
		text-align: right;
	}

	@media screen and (max-width: 600px) {
		text-align: center;
	}
}

.header__title {
	font-family: 'bowlbyone';
	@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);

	@media screen and (max-width: 1340px) {
		margin: ($spacerTiny) 0 $spacerSmall 0;
	}

	@media screen and (max-width: 600px) {
		margin: ($spacerMedium) 0 $spacerTiny 0;
		@include fluid-type($modular_min_width, $modular_max_width, $h6_min, $h6_max);
	}
}

.header__navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $spacerSmall $spacerTiny;

	@media screen and (max-width: 1340px) {
		flex-wrap: wrap;
		padding: 0;
	}
}

.header__navigation__button {
	font-weight: normal;
	font-family: 'bowlbyonesc';
	line-height: 1;

	color: swatch(colorWhite, 0.9);
	background-color: swatch(panelColor, 0.5);
	border: 0;
	border-radius: 0.25rem;

	width: 100%;
	margin: ($spacerTiny / 2);
	padding: ($spacerTiny) ($spacerSmall * 2);

	display: none;

	@media screen and (max-width: 600px) {
		display: flex;
	}

	justify-content: center;
	align-items: center;

	cursor: pointer;

	&:hover,
	&:focus {
		color: swatch(colorWhite, 1);
		background-color: swatch(panelColor, 0.9);
	}

	&::before {
		content: '::';
		font-size: 1.5em;
		margin-right: 0.125em;
		padding-bottom: 0.0625em;
		display: flex;
		align-items: center;
	}
}

.header__navigation__label {
	display: none;

	@media screen and (max-width: 600px) {
		display: flex;
		align-items: center;
		height: 100%;
	}
}

.header__navigation__checkbox {
	display: none;

	@media screen and (max-width: 600px) {
		&:checked + .header__navigation__button {
			&::before {
				content: '×';
			}
		}

		&:checked ~ .header__navigation__list {
			display: flex;
		}
	}
}

.header__navigation__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	height: 100%;

	@media screen and (max-width: 1340px) {
		width: 100%;
	}

	@media screen and (max-width: 960px) {
		flex-wrap: wrap;
	}

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.header__navigation__item {
	display: flex;
	align-items: center;

	@media screen and (max-width: 1340px) {
		flex-grow: 1;
	}

	@media screen and (max-width: 960px) {
		min-width: 25%;
	}

	@media screen and (max-width: 600px) {
		min-width: 33.333%;
	}
}

.header__navigation__link {
	width: 100%;
	margin: 0 ($spacerTiny / 2);
	padding: $spacerTiny $spacerSmall;

	font-family: 'bowlbyonesc';
	text-align: center;
	@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);

	color: swatch(colorWhite, 0.9);
	background-color: swatch(colorSecondary, 0.6);
	border-radius: 0.25rem;

	&:hover,
	&:focus {
		color: swatch(colorWhite, 1);
		background-color: swatch(colorSecondary, 0.8);
	}

	&--red     { --colorSecondary: var(--colorRed);     }
	&--blue    { --colorSecondary: var(--colorBlue);    }
	&--green   { --colorSecondary: var(--colorGreen);   }
	&--violet  { --colorSecondary: var(--colorViolet);  }
	&--purple  { --colorSecondary: var(--colorPurple);  }
	&--magenta { --colorSecondary: var(--colorMagenta); }
	&--gray    { --colorSecondary: var(--colorGray5);   }

	@media screen and (max-width: 960px) {
		margin: ($spacerTiny / 2);
	}

	@media screen and (max-width: 600px) {
		@include fluid-type($modular_min_width, $modular_max_width, $h6_min, $h6_max);
	}
}