$font-path-bowlbyone: '../fonts/bowlbyone/';
$font-path-bowlbyonesc: '../fonts/bowlbyonesc/';
$font-path-roboto: '../fonts/roboto/';
$font-stack-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Bowlbyone Regular (400)
@font-face {
	font-family: 'bowlbyone';
	src: url('#{$font-path-bowlbyone}bowlbyone-regular-webfont.woff2') format('woff2'),
		 url('#{$font-path-bowlbyone}bowlbyone-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Bowlbyone All Caps (400)
@font-face {
	font-family: 'bowlbyonesc';
	src: url('#{$font-path-bowlbyonesc}bowlbyonesc-regular-webfont.woff2') format('woff2'),
		 url('#{$font-path-bowlbyonesc}bowlbyonesc-regulr-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Roboto Regular (400)
@font-face {
	font-family: 'roboto';
	src: url('#{$font-path-roboto}roboto-regular-webfont.woff2') format('woff2'),
		 url('#{$font-path-roboto}roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// Roboto Italic (400)
@font-face {
	font-family: 'roboto';
	src: url('#{$font-path-roboto}roboto-italic-webfont.woff2') format('woff2'),
		 url('#{$font-path-roboto}roboto-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

// Roboto Bold (700)
@font-face {
	font-family: 'roboto';
	src: url('#{$font-path-roboto}roboto-bold-webfont.woff2') format('woff2'),
		 url('#{$font-path-roboto}roboto-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}