body {
	font-family: 'roboto', $font-stack-base;
	font-weight: normal;
	line-height: 1.45;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

h1,
h2 {
	font-family: 'bowlbyonesc';
}

h3,
h4,
h5,
h6 {
	font-family: 'bowlbyone';
}


a {
	color: swatch(colorPrimary, 0.7);
	text-decoration: none;

	&:hover,
	&:focus {
		color: swatch(colorPrimary, 1);
	}
}