// SASS Function to generate hsla based on custom property
@function swatch($swatch-color, $swatch-alpha:1) {
	@return unquote("hsla(var(--#{$swatch-color}), #{$swatch-alpha})");
}

// SASS Function to escape hsl function
@function hsl-str($color) {
	@return unquote("hsl(#{$color})");
}

// Grayscale Palette (hue, saturation%, lightness%)
$colorWhite: 	0, 0%, 100%;
$colorBlack: 	0, 0%, 0%;

// Color Palette (hue, saturation%, lightness%)
$colorRed: 		0, 82%, 58%;
$colorOrange: 	32, 96%, 54%;
$colorYellow: 	48, 97%, 54%;
$colorGreen: 	145, 65%, 45%;
$colorBlue: 	190, 99%, 38%;
$colorViolet: 	270, 27%, 45%;
$colorPurple: 	316, 45%, 48%;
$colorMagenta: 	-24, 53%, 50%;
$colorBrown: 	9, 65%, 27%;

// Grayscale Palette
$colorGrayHue: 260;
$colorGraySaturation: 8%;
$colorGray1:	$colorGrayHue, $colorGraySaturation, 90%;
$colorGray2:	$colorGrayHue, $colorGraySaturation, 80%;
$colorGray3:	$colorGrayHue, $colorGraySaturation, 70%;
$colorGray4:	$colorGrayHue, $colorGraySaturation, 60%;
$colorGray5:	$colorGrayHue, $colorGraySaturation, 50%;
$colorGray6:	$colorGrayHue, $colorGraySaturation, 40%;
$colorGray7:	$colorGrayHue, $colorGraySaturation, 30%;
$colorGray8:	$colorGrayHue, $colorGraySaturation, 20%;
$colorGray9:	$colorGrayHue, $colorGraySaturation, 10%;

// Theme Palette
$colorPrimary: 		$colorOrange;
$colorSecondary: 	$colorBrown;
$colorTertiary: 	$colorGreen;

// CSS Custom Properties
:root {
	--colorWhite: 		#{$colorWhite};
	--colorGray1: 		#{$colorGray1};
	--colorGray2: 		#{$colorGray2};
	--colorGray3: 		#{$colorGray3};
	--colorGray4: 		#{$colorGray4};
	--colorGray5: 		#{$colorGray5};
	--colorGray6: 		#{$colorGray6};
	--colorGray7: 		#{$colorGray7};
	--colorGray8: 		#{$colorGray8};
	--colorGray9: 		#{$colorGray9};
	--colorBlack: 		#{$colorBlack};
	--colorPrimary: 	#{$colorPrimary};
	--colorSecondary: 	#{$colorSecondary};
	--colorTertiary: 	#{$colorTertiary};
	--colorRed: 		#{$colorRed};
	--colorOrange: 		#{$colorOrange};
	--colorYellow: 		#{$colorYellow};
	--colorGreen: 		#{$colorGreen};
	--colorBlue: 		#{$colorBlue};
	--colorViolet: 		#{$colorViolet};
	--colorPurple: 		#{$colorPurple};
	--colorMagenta: 	#{$colorMagenta};
	--colorBrown: 		#{$colorBrown};
}