.warning {
	display: flex;
	color: swatch(colorRed, 0.9);
	margin-bottom: $spacerSmall;
	@include fluid-type($modular_min_width, $modular_max_width, $h5_min, $h5_max);

	&--small {
		margin-bottom: 0;
		display: inline;
	}

	@media screen and (max-width: 600px) {
		flex-wrap: wrap;
	}
}

.warning__title,
.warning__icon,
.warning__reason {
	display: flex;
	align-items: center;
}

.warning__title {
	font-family: 'bowlbyone';
	text-transform: uppercase;
	padding-top: 0.1em;
}

.warning__icon {
	margin: 0 ($spacerTiny / 2);
}

.warning__reason {
	font-weight: bold;
}